// 全站設定
*,*::before,*::after{
    box-sizing: border-box;
}
body{
font-family: 'Noto Sans TC', sans-serif; 
line-height: 1.5; 
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}


a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #020202;
}
img{
    vertical-align: middle;
}
h1{
    font-size: 80px;
    margin-bottom: 80px;
    color: #020202;
}
h2{
    font-size: 20px;
    color: #020202;
}
h3{
    font-size: 16px;
    color: #020202;
}
p{
    font-size: 16px;
    color: #020202;
}


